body {
    background-image: url('https://phantom-expansion.unidadeditorial.es/4ecb25e893df90a78757d9d198ed7df1/crop/0x0/2044x1362/resize/1200/f/jpg/assets/multimedia/imagenes/2022/03/09/16468335835700.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajustar este valor para controlar el nivel de oscuridad */
    backdrop-filter: blur(5px); /* Desenfoque */
    z-index: -1; /*  Para que esté detrás del contenido */
}

html, body {
    height: 100%;
}

.container {
    flex: 1;
    padding-top: 2rem;
    position: relative;
    z-index: 1; /* Para que este encima del background */
}

footer {
    flex-shrink: 0;
    position: relative;
    z-index: 1; /* Para que este encima del background */
}

.text-justify {
    text-align: justify;
}

.jumbotron {
    color: white;
}

.jumbotron .display-4 {
    font-weight: bolder;
}

.jumbotron .lead {
    font-weight: bolder;
}

.card-img-top {
    height: 300px; /* Ajusta la altura */
    width: 100%;
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

@media (max-width: 768px) {
    .card-img-top {
        height: 200px; /* Ajusta altura para pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .card-img-top {
        height: 150px; /* Ajusta altura para pantallas muy pequeñas */
    }
}
